* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-color: blanchedalmond; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #f4f4f4;
  position: relative;
  overflow: hidden;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  /* flex: 1; */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  align-items: center;
  /* flex: 2; */
  transition: left 0.3s ease;
}

.nav-links li {
  position: relative;
}
.nav-links a,
.dropbtn {
  text-decoration: none;
  color: green;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav-links a:hover,
.dropbtn:hover {
  color: chocolate;
}
.dropdown-content {
  position: absolute;
  min-width: 160px;
  background-color: #ff3368;
  margin-top: 5px;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: black;
}
.dropdown-content a:hover {
  background-color: #ff6690;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.nav-icons i {
  font-size: 18px;
  cursor: pointer;
  color: green;
}
.nav-icons i:hover {
  color: chocolate;
}
#toggleSearch {
  display: none;
}
.search-input {
  position: absolute;
  top: 45px;
  right: 0;
  width: 0;
  opacity: 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.4s ease, opacity 0.4s ease;
}
#toggleSearch:checked ~ .search-input {
  width: 180px;
  opacity: 1;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 15;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: green;
  transition: 0.3s;
}
#menuToggle {
  display: none;
}
@media (max-width: 900px) {
  .navbar {
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
    order: 1;
  }
  .logo {
    text-align: center;
    order: 2;
  }
  .nav-icons {
    order: 3;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #f4f4f4;
    gap: 10px;
    padding: 15px 0;
    z-index: 50;
  }

  #menuToggle:checked ~ .nav-links {
    left: 0;
  }
}
/* hero section  */
.hero-section {
  background: #e7f9fb;
  padding: 80px 0;
}
.hero-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  max-width: 500px;
}
.hero-text h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #000;
}
.hero-text p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #333;
}
.hero-btn {
  background: linear-gradient(90deg, #ff005a, #ff8a00);
  padding: 14px 35px;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.hero-btn:hover {
  opacity: 0.8s;
}
.hero-image {
  width: 650px;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    margin-bottom: 40px;
  }

  .hero-text h1 {
    font-size: 45px;
  }
}
/* featured section  */
.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 25px;

  color: #000;
}
.category-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.category-card {
  flex: none;
  background: #f5f7fa;
  border-radius: 12px;
  padding: 40px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 350px;
}
.card-text {
  max-width: 250px;
  margin-top: 10px;
  margin-left: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.small-title {
  font-size: 14px;
  color: #666;
  font-weight: 400;
}
.card-text h3 {
  font-size: 28px;
  font-weight: 700;
  margin: 15px 0 0;
  color: #000;
  line-height: 1.3;
}
.card-btn {
  text-decoration: none;
  color: #ff0066;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 14px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: all0.3s ease;
  margin-top: auto;
  align-self: flex-start;
}
.category-card:hover .card-btn {
  opacity: 1;
  visibility: visible;
}
.card-img {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-height: 300px;
}
.card-img img {
  width: 280;
  height: 280px;
  max-width: 300px;
  object-fit: contain;
  margin-right: 20px;
}
@media (max-width: 900px) {
  .category-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .category-card {
    flex-direction: column;
  }
  .card-text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card-img img {
    width: 300px;
  }
}
